* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url(bacground-img.png) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section {
  margin-top: 200px;
  line-height: 2rem;
  width: 250px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
}

#add-product {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#add-product:hover {
  background-color: rgb(171, 237, 171);
  cursor: pointer;
}
#product-value {
  border: 0.7px solid grey;
  padding: 3px;
  border-radius: 5px;
}

#product-list {
  width: 250px;
  padding: 10px;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgb(218, 218, 207);
}

h5 {
  text-align: center;
  opacity: 0.7;
}

li {
  border-bottom: 1px solid grey;
  list-style: none;
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.delete-product,
.checked-product {
  margin-right: 3px;
  border: none;
  border-radius: 5px;
}

.delete-product:hover {
  background-color: red;
}

.checked-product:hover {
  background-color: orange;
}
